// Box Sizing
@mixin box-sizing( $args ) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}

// Animation
@mixin animation( $args ) {
    -ms-animation: $args;
    -webkit-animation: $args;
	-o-animation: $args;
	-moz-animation: $args;
	animation: $args;
}

// Animation Delay
@mixin animation-delay( $args ) {
    -ms-animation-delay: $args;
    -webkit-animation-delay: $args;
	-o-animation-delay: $args;
	-moz-animation-delay: $args;
	animation-delay: $args;
}

// Transform
@mixin transform( $args ) {
    -ms-transform: $args;
    -webkit-transform: $args;
    -o-transform: $args;
    -moz-transform: $args;
    transform: $args;
}

// Transition
@mixin transition( $args ) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Transition Duration
@mixin transition-duration( $args ) {
    -webkit-transition-duration: $args;
    -moz-transition-duration: $args;
    -ms-transition-duration: $args;
    -o-transition-duration: $args;
    transition-duration: $args;
}

// Opacity
@mixin opacity( $opacity ) {
    -moz-opacity: $opacity;
    -webkit-opacity: $opacity;
    opacity: $opacity;
}

// Border radius
@mixin border-radius( $radius ) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
    border-radius: $radius;
}

// Box Shadow
@mixin box-shadow( $args ) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

// Font Awesome CSS
@mixin font-awesome() {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Simple Line Icons CSS
@mixin simple-line-icons() {
    font-family: 'simple-line-icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
}

// Reset our ul/ol lists
@mixin reset-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

// Describe all psuedo state classes
@mixin hover {
    &:active, &:focus, &:hover {
        @content;
    }
}

@mixin sans-serif-style {
    font-family: $sans-serif-family;
    text-transform: uppercase;
}

@mixin button-ocean {
    display: inline-block;
    font-family: $sans-serif-family;
    background-color: $color-5;
    color: $color-1;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
    @include transition( all .3s ease );
}

@mixin button-basic( $background: $orange, $background-hover: $dark-orange, $color: $white ) {
    display: inline-block;
    font-family: $sans-serif-family;
    background-color: $background;
    color: $white;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 45px 20px 45px;
    border: 0;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
    border-radius: 0px 0px 0px 0px;
    @include transition( all .3s ease );
    @include hover {
        background-color: $background-hover;
    }
}