.course-list {
	@include reset-list;

	&.inline-course-list > li {

		@media #{$medium-up} {
			display: inline-block;
			vertical-align:top;
			margin: 0 1%;
			width: 48%;
		}
		@media #{$large-up} {
			width: 31%;
			&:last-child {
				display: inline-block;
			}
		}
	}

	.hero-courses & {
		color: $offwhite;
		> li {
			background-color: rgba(0, 0, 0, .35);
			padding: 1rem 2rem;
			display: none;
			&:first-child {
				display: inline-block;
			}
			@media #{$medium-up} {
				display: inline-block;

			}
			@media #{$medium-only} {
				&:last-child {
					display: none;
				}
			}
		}
		a {
			color: $white;
			@include hover {
				color: $orange;
			}
		}
		.meta {
			margin: 12px 0 0;
		}
	}
}

.course-title,
.course-date {
	display: block;
}

.course-date {
	@include sans-serif-style;
	font-size: 2.5rem;
	border-top: 1px solid $orange;
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	font-weight: bold;
	line-height: 1;
	i {
		font-size: 2rem;
		// color: $orange;
	}

	.course-header & {
		border-top: 1px solid $dark-orange;
	}
}

.course-location {
	margin-top: 30px;
}

.course {
	background-color: $greybg;
	border-bottom: $border-style;
	border-left: $border-style;
	border-right: $border-style;
	padding-bottom: 0 !important;
	margin-bottom: 40px !important;

	.blog-entry-summary,
	.course-location {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.course-header {
	position: relative;
	width: 100%;
	margin-bottom: 20px;

	.course-header-inner {
		display: block;
		background-color: $orange;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 20px;
		color: $white;
		text-align: center;
		@include hover {
			color: $white;
			background-color: darken($orange, 5%);
		}
		.entry-title {
			color: $white;
			@media #{$small-only} {
				font-size: 1.5rem;
				line-height: 1.3;
			}
		}
	}

	@media #{$medium-up} {
		padding-top: 30%;
		/* 16:9 ratio */
		/* use this formula:
			using a 22:5 ratio where 22 is A and 5 is B):
			B / (A / 100) = C%. So 22:5 is 5 / .22 = 22.72%
		*/
		display: block;
		content: '';

		.course-header-inner {
			position: absolute;
			top: 0;
			bottom: 2px;
			left: 0;
			right: 0;			
		}
	}
}



